@import '@fontsource/iosevka/400.css';

@import 'tailwindcss';
@import '@floegence/floe-webapp-core/tailwind';
@import './ui/chat/chat.css';
@import './styles/redeven.css';

@source './**/*.{ts,tsx,html}';
@source '../index.html';
