.redeven-terminal-surface:focus,
.redeven-terminal-surface:focus-visible {
  box-shadow: none !important;
}

*,
*::before,
*::after {
  border-width: 0;
  --tw-border-style: solid;
  border-style: solid;
}
